.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.topnav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0 auto;
}

/* Menu */

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
}

/* Label */

.nav_toggle svg {
  width: 25px;
  height: 25px;
  display: none;
}

.nav_toggle .svg-x {
  display: none;
}

/* Checkbox */

.nav_checkbox {
  display: none;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--primary-color);
}

.logo img {
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 20px;
}

.menu li {
  padding: 0 15px;

}

.separationMenu {
  display: flex;
  margin-left: 20px;
  flex-direction: row;
}

.menu li a {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
}

.register-login {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.register-login button {
  padding: 15px;
  border: none;
  font-size: 16px;
}

.login {
  margin-right: 10px;
  background-color: aliceblue;
  border-radius: 15px;
  cursor: pointer;
}

.register {
  background-color: lightseagreen;
  color: #f2f2f2;
  border-radius: 15px;
  cursor: pointer;
}

main {
  display: flex;
}

@media(max-width: 800px) {
  .topnav .menu {
      position: absolute;
      margin-top: 3.5rem;
      right: 0;
  }

  .nav_toggle {
      position: absolute;
      cursor: pointer;
      margin: 0.7rem;
      right: 0;
  }

  .nav_toggle svg {
      display: block;
  }

  .menu {
      width: 30%;
      margin-right: -70%;
      flex-direction: column;
      padding: 0.5rem;
      transition: all 1s;
      background-color: rgba(164, 164, 164, 0.284);
  }

  .register-login {
      flex-direction: column;
      align-items: center;
      margin-left: 30%;
  }

  .register-login button {
      margin: 5%;
  }

  .separationMenu {
      flex-direction: column;
      align-items: center;
  }

  #nav_checkbox:checked~.menu {
      margin-right: 0%;
  }

  #nav_checkbox:checked~label.nav_toggle .svg-x {
      display: block;
  }

  #nav_checkbox:checked~label.nav_toggle .svg {
      display: none;
  }
}